<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audiobook">
<queries>
    <intent>
        <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
</queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioBook">
        <activity
            android:name=".Book1Chapter1audio"
            android:exported="false"
            android:parentActivityName=".Book1Chapters"/>
        <activity
            android:name=".Book2ChapterList"
            android:exported="false"
            android:label="@string/Book2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Book1Chapters"
            android:exported="false"
            android:label="@string/Book1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
